.hw-50 {
    height: 560px !important;
    width: 560px !important;
    background-size: cover;
}

.m-t-5 {
    margin-top: 5em;
}

.m-r-40 {
    margin-right: 40%;
}

.m-l-2 {
    margin-left: 2em;
    text-align: center;
}