.Menu *{
    z-index: 9 !important;
    position: relative;
}

.carousel {
    max-width: 100%;
    height: auto;
    margin-top: 5em;
    margin-left: 1em;
    margin-right: 1em;
}

.products { 
    text-align: center;
    margin-top: 5em;
}

.loginDropDown {
    z-index: 9;
}

body {
    margin-left: 10px;
    margin-right: 10px;
}


