.items {
    display: flex;
    flex-direction: row;
}

.card {
    margin-top: 2em;
    margin-left: 2em;
    max-width: 15rem;
    min-width: 17rem !important;
    box-shadow: 0 0 0 black;
    transition: .1s ease-in-out box-shadow;
}

.card:hover {
    box-shadow: 2px 3px 4px 2px black;
}

.col-card {
    padding-left: 5em !important;
    padding-right: 5em !important;
}

.item { 
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
}