.mg-5-top {
    margin-top: 5em;
}

.mg-2-left {
    margin-left: 2em;
}

.h-100 {
    height: 100%;
}

.w-80 {
    width: 85%;
}

.inner-page {
    background-color: #dadada;
    color: #2e2e2e;
    margin-right: 2em;
}